body {
  font-family: Verdana, Geneva, sans-serif;
  color: black;
  font-size: 10pt;
}

.container {
  background-color: rgb(246, 246, 239);
  padding: 0;
}

.navbar {
  background-color: #ff6600;
  padding: 2px;
  justify-content: flex-start;
  font-size: 10pt;
  flex-wrap: nowrap;
  line-height: 12pt;
}

a {
  color: black;
  text-decoration: none;
}

.logo {
  padding-right: 4px;
}

.logo img {
  width: 18px;
  border: 1px solid #f6f6f0;
}

.brand {
  font-weight: bold;
  margin-left: 5px;
  font-size: 10pt;
}

.log {
  position: absolute;
  right: 0;
  padding-right: 4px;
}

.content {
  margin-top: 10px;
}

ol {
  color: #828282;
}
li {
  background: url(https://news.ycombinator.com/grayarrow.gif) no-repeat;
}
li a {
  padding-left: 12px;
}

li div {
  color: #828282;
  font-size: 7pt;
}

footer {
  border-top: 1px solid #ff6600;
  padding-top: 4px;
  font-size: 8pt;
  height: 100px;
}

form {
  justify-content: center;
}

@media only screen and (max-width: 750px) and (min-width: 300px) {
  .link,
  .log {
    font-size: 12px;
  }

  .brand {
    font-size: 15px;
    display: block;
  }
  .toplinks {
    margin: 3px 5px;
  }

  li a {
    font-size: 11pt;
    line-height: 14pt;
  }

  li div {
    font-size: 9pt;
  }
}
